{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <main class="container" style="padding-top: 20px">
        <div class="row">
            <div class="col-md-8">
                <h3 class="fst-italic border-bottom">Recents Articles</h3>
                <div id="article-List">
                    {% include 'article/list.html.twig' with { articles }  %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    {%  include 'widget/about.html.twig' %}
                    {%  include 'widget/categories.html.twig' %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
