<div class="p-4">
    <h4 class="fst-italic">Categories</h4>
    <ol class="list-unstyled mb-8">
        <li>
            <a class="text-decoration-none text-dark" href="#">Test</a>
        </li>
        <li>
            <a class="text-decoration-none text-dark" href="#">Test b</a>
        </li>

    </ol>
</div>